{{- define "main" }}
{{- $pages := .RegularPages }}
{{- $paginator := (.Paginate $pages) }}
<main class="formatted">
<h1>{{ .Title }}</h1>
{{ .Content }}
</main>
<div class="pagelist formatted">
{{- range $paginator.Pages }}
<div class="pageitem">
<a href="{{ .RelPermalink }}" class="pagelink">
<article>
<div class="title">{{ .Title }}</div>
<p><em>{{ .Date.Format "2006 Jan 2" }}</em></p>
{{ .Summary }}
{{- if .Truncated }}
<p>... Continued on page</p>
{{- end }}
</article>
</a>
</div>
{{- end }}
<div class="paginator">
<div class="newer">
{{- with $paginator.Prev }}
<a href="{{ .URL }}">Newer</a>
{{- end }}
</div>
<div class="older">
{{- with $paginator.Next }}
<a href="{{ .URL }}">Older</a>
{{- end }}
</div>
</div>
</div>
{{- end }}